**/wandb/
**/checkpoints/
**/logs/
**/results/
**/tmp/
**/__pycache__/
**/__pycache__/**
**/__pycache__/**/**
**/__pycache__/**/**/**
**/__pycache__/**/**/**/**
**/__pycache__/**/**/**/**/**
**/final_results/
**/Final_results/
**/final_results_old/
**/final_results_old_2/
**/final_results_old_sat/
**/rep_stiff_outputs_kk/
**/rep_stiff_outputs_sat/
**/rep_stiff_outputs_aime_5k/
**/rep_stiff_outputs_aime25_5k/
/reasoning_eval_scripts/data/
/reasoning_eval_scripts/data_tokens512/
/reasoning_eval_scripts/data_wo_eval/
/reasoning_eval_scripts/result_qa/
**/final_results_v3/
/reasoning_eval_scripts/sat_outputs/
**/rep_stiff_outputs_aime25_5k/*
**/rep_stiff_outputs_kk_mia_test/*
**/data_acc_1/**